# This file is part of the ev3-systemd package

[Unit]
Description=CDC Ethernet USB gadget service
Conflicts=rndis-gadget.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe g_cdc
ExecStop=/sbin/rmmod g_cdc

[Install]
WantedBy=network.target
