[Unit]
Description=LEGO MINDSTORMS EV3 LEDs
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo none > "/sys/class/leds/ev3:right:red:ev3dev/trigger";     \
                      echo none > "/sys/class/leds/ev3:left:red:ev3dev/trigger";      \
                      echo none > "/sys/class/leds/ev3:right:green:ev3dev/trigger";   \
                      echo none > "/sys/class/leds/ev3:left:green:ev3dev/trigger";    \
                      echo 0 > "/sys/class/leds/ev3:right:red:ev3dev/brightness";     \
                      echo 0 > "/sys/class/leds/ev3:left:red:ev3dev/brightness";      \
                      echo 255 > "/sys/class/leds/ev3:right:green:ev3dev/brightness"; \
                      echo 255 > "/sys/class/leds/ev3:left:green:ev3dev/brightness"'
ExecStop=/bin/sh -c 'echo none > "/sys/class/leds/ev3:right:red:ev3dev/trigger";   \
                     echo none > "/sys/class/leds/ev3:left:red:ev3dev/trigger";    \
                     echo none > "/sys/class/leds/ev3:right:green:ev3dev/trigger"; \
                     echo none > "/sys/class/leds/ev3:left:green:ev3dev/trigger";  \
                     echo 255 > "/sys/class/leds/ev3:right:red:ev3dev/brightness"; \
                     echo 255 > "/sys/class/leds/ev3:left:red:ev3dev/brightness";  \
                     echo 0 > "/sys/class/leds/ev3:right:green:ev3dev/brightness"; \
                     echo 0 > "/sys/class/leds/ev3:left:green:ev3dev/brightness"'
