# This file is part of the ev3-systemd package

[Unit]
Description=RNDIS Ethernet USB gadget service
Conflicts=cdc-gadget.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe g_ether
ExecStop=/sbin/rmmod g_ether

[Install]
WantedBy=network.target