[Unit]
Description=LEGO MINDSTORMS EV3 LEDs
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'echo none > "/sys/class/leds/led0:red:brick-status/trigger";     \
                      echo none > "/sys/class/leds/led1:red:brick-status/trigger";     \
                      echo none > "/sys/class/leds/led0:green:brick-status/trigger";   \
                      echo none > "/sys/class/leds/led1:green:brick-status/trigger";   \
                      echo 0 > "/sys/class/leds/led0:red:brick-status/brightness";     \
                      echo 0 > "/sys/class/leds/led1:red:brick-status/brightness";     \
                      echo 255 > "/sys/class/leds/led0:green:brick-status/brightness"; \
                      echo 255 > "/sys/class/leds/led1:green:brick-status/brightness"'
ExecStop=/bin/sh -c 'echo none > "/sys/class/leds/led0:red:brick-status/trigger";   \
                     echo none > "/sys/class/leds/led1:red:brick-status/trigger";   \
                     echo none > "/sys/class/leds/led0:green:brick-status/trigger"; \
                     echo none > "/sys/class/leds/led1:green:brick-status/trigger"; \
                     echo 255 > "/sys/class/leds/led0:red:brick-status/brightness"; \
                     echo 255 > "/sys/class/leds/led1:red:brick-status/brightness"; \
                     echo 0 > "/sys/class/leds/led0:green:brick-status/brightness"; \
                     echo 0 > "/sys/class/leds/led1:green:brick-status/brightness"'
