# This file is part of the ev3-systemd package

[Unit]
Description=LEGO MINDSTORMS EV3 UART Sensors
BindsTo=%i.device
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
Type=forking
ExecStart=/usr/share/ev3-systemd/ev3-start-uart.sh %I
